*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
/*ESTILO GENERAL*/
body{
padding: 0px;
}
#pantalla{
    width: 100%;

}

#contenedor´{
    width: 1170px;
}
header{
    width: 100%;
}
footer{
    color: aqua;

}
/*ESTILO DE INDEX-----------------------------------------------------------------------------------*/
/* ver como hacer sticky el header y nav */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1E24;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #A37C43;
    padding: 20px;
    font-size: 2.5vw;
} 
.logo{
    height: 16vh;
}
nav{
    position: sticky;
    background-color: #1D1E24;
}
.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: #1D1E24;
    margin: 0px;
    padding: 0px;
    border-bottom-style: solid;
    border-bottom-color: #A37C43;
}
li{
    float: left;
    width: 25%;
}
li a{
    display: flex;
    color: #A37C43;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.activo){
    background-color: #333;
}
.activo{
    color: black;
    background-color: #A37C43;
}
.box1{
    display: grid;
    height: 100%;
}
.img1{
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
.info{
    background-color: #1D1E24;
    color: rgb(219, 48, 84);
    padding: 20px;
}
.redes{
    display: inline;
    padding: 40px 0px 0px 25px;
}
footer{
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: sans-serif;
    font-size: 10px;
    color: #333;
}
/*ESTILO DE CONTACTO--------------------------------------------------------------------------------*/